/* css style for mws */
* {
    box-sizing: border-box; }

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-weight: 400;
    font-display: optional;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

/* INDEX */
.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 4px;
    }
.menu {
    background: rgba(250, 244, 244, 0.938);
    grid-column-start: 1;
    grid-column-end: 5;
    }
.sidebar {
    background: white;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-end: 1/2;
    }
.konten {
    background: white;
    grid-column: 2/5;
    }
.footer {
    background: black;
    grid-column: 1/5;
    grid-row : 5/5;
    }

/* MAP */
.container2{
    display: grid;
    height: 100%;
    grid-gap: 4px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 60% 40%;
}
.map{
    grid-column:1/-1;
}
.image_kost{
    background: yellow;
    grid-column:1/5;
}
.review_kost{
    background: green;
    grid-column: 5/-1;
}
input.MyButton {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background: #3366cc;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
    -moz-box-shadow: 6px 6px 5px #999;
    -webkit-box-shadow: 6px 6px 5px #999;
    box-shadow: 6px 6px 5px #999;
    }
input.MyButton:hover {
    color: #ffff00;
    background: #000;
    border: 1px solid #fff;
    }